* {
  box-sizing: border-box;
  --f-color: #6d6d6d;
}
.bg-dark-gray {
  background: #1f1f1f;
}

button * {
  font-size: 1.4rem;
  color: var(--f-color);
}
a {
  text-decoration: none;
  color: var(--f-color);
  font-size: 1.025rem;
}
a:hover {
  color: #929292;
}
